:root {
    --buttonColor1: #F15946;
    --buttonColor2: #FFBA49;
    --test1:#87CEFA;
    --test2:#ff7eb3;
    --color1 : #D8B7DD;
    --color2:#cd96d7;
    --fontsize1 : 15px;
    color: #444;
}

#app {
    /* zorgt ervoor dat de kleuren pulsen op een hoek van 45 graden in een loop*/
    background: linear-gradient(45deg, var(--test1), var(--test2));
}

#appWrapper {
    /* bepaald de lengte en positie van het stuk dat pulsed 
    en zorgt dat het verandert van groote wanneer de groote van het scherm bepaalde formaten hebben*/
    display: flex;
    justify-content: center;
    height: 100%;
}

#app {
    /* ??? */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.likeApp{
    gap: 20px;
}

.containment {
    width: 80%;
    margin-bottom: 20px;
}

/* styling for the heads */
    #mutualList,#Userlist,#Partnerlist{
        border-radius: 5px;
        background-color: var(--color1);
        padding-block: 18px;
        text-align: center;
        font-size: var(--fontsize1);
        transition: 0.4s;
    }

    #mutualList.active,#Userlist.active,#Partnerlist.active{
        border-radius: 5px 5px 0 0;
        background-color: var(--color2);
    }
/* end */

.accStyle {
  background-color:  #D8B7DD;
  justify-content: center;
  padding-block: 18px;
  display: flex;
  text-align: center;
  font-size: 15px;
  transition: 0.4s;
}

.accStyle2 {
  background-color:  #aab1dc;
}

li {
  width: 100%;
  box-sizing: border-box;
  border-width: 3px;
  border-style: hidden hidden ridge hidden;
  border-color: black;
  padding: 3px 0 3px 0;
  margin: 0;
}

.name-item {
    /* border: 1px solid #333;     
    padding: 8px 12px;          
    margin: 5px 0;              
    border-radius: 4px;         
    background-color: #f9f9f9;  */
    width: 100%;
    display: block;  /* or flex if needed */
    box-sizing: border-box;
    font-size: 22px;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; /* removes bullet or number indentation */
}

.list-item-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

  .Transfer1, .Teleport1 {
    padding: 4px 8px;
    margin-right: 10px;
    font-size: 0.9em;
    background-color: #4a05d5bc;
    color: rgb(248, 241, 231);
}

  .Transfer2, .Teleport2 {
    padding: 4px 8px;
    margin-right: 10px;
    font-size: 0.9em;
    background-color: #4a05d5bc;
    color: rgb(248, 241, 231);
}

  .Transfer3, .Teleport3 {
    padding: 4px 8px;
    margin-right: 10px;
    font-size: 0.9em;
    background-color: #4a05d5bc;
    color: rgb(248, 241, 231);
}

  #likedList1 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#likedList1 li span {
    flex-grow: 1;
}

  #likedList2 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#likedList2 li span {
    flex-grow: 1;
}

  #likedList3 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#likedList3 li span {
    flex-grow: 1;
}
.active, .accordion:hover {
background-color: #cd96d7;; 
}
  
.panels {
display: none;
border-radius: 0 0 5px 5px;
background-color: white;
} 
  


#menu {
    /* */
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;

}

#menu li {
    /* */
    display: flex;
    align-items: center;
    height: 40px;
}

#menu li svg {
    /* */
    padding: 10px;
}


.activePage {
    /* */
    border-radius: 25px;
    background-color: var(--test2);
}

#menuContainer {
    /* settings van de balk waar de buttons op zitten die naar andere pagina's gaan*/
    background-color: var(--test1);
}

.container {
    /* plaats van alle containers ? */ /* */
    width: 100%;
    height: 100%;
}

.buttonText {
    /* */
    margin: 0;
    font-size: 15px;
}

filter-component {
    /* height: 650px; */
    height: 100%;
    width: 70%;
}

filter-component .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 70%; */
    width: 100%;
}